<div class="ibox float-e-margins">
    <div>
        <h5><%= 'List Admin Role' %></h5>

    </div>
    <div class="ibox-content">
        <div class="row">

            <form method="get" accept-charset="utf-8" name="filterForm" action="/admin-roles/index">
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" placeholder="Search" name="title" value="" class="input-sm form-control">
                        <span class="input-group-btn">
                        <button id="btn-search-by-title" type="submit" class="btn btn-sm btn-primary"> Go!</button>
                    </span>
                    </div>
                </div>
            </form>


            <div class="col-sm-4 m-b-xs">
                <a href="/admin-roles/add"  title="Add Admin Roles" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i>"Add Admin Roles</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><a href="<%= paginate.href({ order: (req.query.order == 1)? -1 : 1,sort:'_id' }) %>">id</a></th>
                        <th><a href="<%= paginate.href({ order: (req.query.order == 1)? -1 : 1,sort:'name' }) %>">name</a></th>
                        <th><a href="<%= paginate.href({ order: (req.query.order == 1)? -1 : 1,sort:'description' }) %>">description</a></th>
                        <th><a href="<%= paginate.href({ order: (req.query.order == 1)? -1 : 1,sort:'status' }) %>">status</a></th>
                        <th><a href="<%= paginate.href({ order: (req.query.order == 1)? -1 : 1,sort:'updated_date' }) %>">Modified</a></th>
                        <th><a href="<%= paginate.href({ order: (req.query.order == 1)? -1 : 1,sort:'created_date' }) %>">Created</a>
                        <th class="actions">
                            <%= 'Actions' %>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <%  listRoles.forEach((role)=>{  %>
                    <tr>
                        <td>
                            <%= role._id %>
                        </td>
                        <td>
                            <%= role.name %>
                        </td>
                        <td>
                            <%= role.description %>
                        </td>
                        <td>
                            <%= role.status %>
                        </td>
                        <td>
                            <%= role.updated_date %>
                        </td>
                        <td>
                            <%= role.created_date %>
                        </td>
                        <td class="actions">
                            <a class="btn btn-primary" href="/admin-roles/view/<%= role._id %>"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-success" href="/admin-roles/edit/<%= role._id %>"><i class="fa fa-edit"></i></a>
                            <form method="post" style="display:none;" action="/admin-roles/delete/<%= role._id %>" id="postDelete_<%= role._id %>">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            </form>
                                <a class="btn btn-danger" onclick='if (confirm("Are you sure you want to delete # 12?")) { document.getElementById("postDelete_<%= role._id %>").submit(); } event.returnValue = false; return false;' href="#"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <%- include('../element/pagination'); -%>
        </div>

    </div>
</div>
