<div class="ibox float-e-margins">
    <div>
        <h5><%= __('Admin Permission detail') %></h5>
    </div>
    <div class="ibox-content">
        <table class="vertical-table table table-condensed table-striped">
            <tr>
                <th>
                    <%= __('Id') %>
                </th>
                <td>
                    <%= adminPermission._id %>
                </td>
            </tr>
            <tr>
                <th>
                    <%= __('Controller') %>
                </th>
                <td>
                    <%= adminPermission.controller %>
                </td>
            </tr>
            <tr>
                <th>
                    <%= __('Action') %>
                </th>
                <td>
                    <%= adminPermission.action %>
                </td>
            </tr>
            <tr>
                <th>
                    <%= __('Role') %>
                </th>
                <td>
                    <%= optionRole[adminPermission.role_id-1].name  %>
                </td>
            </tr>

            <tr>
            <tr>
                <th>
                    <%= __('Active') %>
                </th>
                <td>
                    <%= (adminPermission.status) ? __('Yes') : __('No'); %>
                </td>
            </tr>
            <tr>
                <th>
                    <%= __('Created') %>
                </th>
                <td>
                    <%= adminPermission.created_date %>
                </td>
            </tr>
            <tr>
                <th>
                    <%= __('Modified') %>
                </th>
                <td>
                    <%= adminPermission.updated_date %>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="container-fluid">
                        <div class="row admin-btn-actions">

                            <a href="/admin-permissions/index" class="btn btn-white" title="Back to permissions"><i class="fa fa-chevron-left"></i> Back</a>
                            <a href="/admin-permissions/edit/<%= adminPermission._id %>" class="btn btn-primary" title="Edit this permission"><i class="fa fa-edit"></i> Edit</a>
                            <form method="post" style="display:none;" action="/admin-permissions/delete/<%= adminPermission._id %>" id="postDelete_<%= adminPermission._id %>">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            </form>
                                <a class="btn btn-danger" onclick='if (confirm("Are you sure you want to delete # <%= adminPermission._id %>?")) { document.getElementById("postDelete_<%= adminPermission._id %>").submit(); } event.returnValue = false; return false;' href="#"><i class="fa fa-trash-o"></i>Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
